body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherform{
    margin: 20px;
}

.cityinput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(18, 234, 18);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color:rgb(111, 242, 129) ;

}

.card{
    background: linear-gradient(180deg, rgb(75, 75, 255),rgb(27, 235, 217));
    padding: 50px;
    box-shadow: 2px 2px 5px black(0,0%,0%,0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

h1{
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: 25px;
}

p{
    font-size: 1.5rem;
    margin: 5px 0px;

}

.citydispllay,.tempdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
}
.humiditydisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descdisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherform{
    margin: 0px;
    font-size: 8rem;
}

.errordisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}